region         = "ap-northeast-2"
aws_profile    = "tf-user"
aws_account_id = "123456789012"
project        = "last-lab"
env            = "dev"

vpc_cidr = "10.0.0.0/16"

public_subnets = {
  a = "10.0.0.0/20"
  c = "10.0.16.0/20"
}

private_subnets = {
  a = "10.0.32.0/20"
  c = "10.0.48.0/20"
}

db_subnets = {
  a = "10.0.64.0/20"
  c = "10.0.80.0/20"
}

karpenter_discovery = "petclinic-dev"

bastion_private_ip = "10.0.0.10"
bastion_ami_id     = "ami-00b5b2470beafd65f"
