aws_region  = "ap-northeast-2"
aws_profile = "tf-user"
project     = "last-lab"
env         = "dev"

ecr_repository_keys      = ["app", "web"]
ecr_image_tag_mutability = "IMMUTABLE"
ecr_force_delete         = false

tags = {
  Environment = "dev"
}
